.workout-log-container {
  --primary-color: #3b82f6; /* 파란색 */
  --secondary-color: #374151; /* 다크 그레이 */
  --border-color: #e5e7eb; /* 라이트 그레이 */
  --text-color: #374151; /* 다크 그레이 */
  --background-color: #ffffff; /* 화이트 */
  --hover-background-color: #f3f4f6; /* 밝은 그레이 */
  --button-hover: #2563eb; /* 버튼 호버 블루 */
  --danger-color: #ef4444; /* 빨간색 */
  --radius: 8px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: var(--background-color); /* 전체 배경 화이트 */
}

.h2 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--background-color);
  padding: 20px;
  border-radius: 6px;
}

.input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s; /* 색상 변경 없음 */
}

.button:hover {
  transform: scale(1.05); /* 크기 확대 */
}

.categoryButton {
  padding: 10px 16px;
  background-color: #e5e7eb; /* 옅은 회색 */
  color: var(--text-color);
  border: none;
  border-radius: 6px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: transform 0.2s; /* 색상 변경 없음 */
  margin-right: 8px; /* 버튼들 사이 간격 추가 */
  margin-bottom: 5px;
}

.categoryButton:hover {
  transform: translateY(-2px); /* 위로 살짝 이동 */
}

.logs {
  margin-top: 20px;
  border: 1px solid var(--border-color); /* logs 컨테이너에만 테두리 추가 */
  border-radius: 6px;
  padding: 20px;
  background-color: var(--background-color); /* 컨테이너 배경 화이트 */
}

.logItem {
  padding: 20px;
  background-color: var(--background-color);
  margin-bottom: 20px;
  border-radius: var(--radius);
  position: relative; /* 수정, 삭제 버튼을 절대 위치로 배치하기 위한 상대 위치 */
}

.dateTime {
  font-size: 0.9rem;
  color: black;
}

.startTime {
  font-weight: bold; /* 시작 시간을 볼드 처리 */
  color: var(--text-color);
}

/* 수정, 삭제 버튼 스타일 */
.editButton,
.deleteButton {
  padding: 6px 10px;
  font-size: 0.9rem;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s; /* 색상 변경 없음 */
  position: absolute; /* 절대 위치 */
  top: 20px; /* 컨테이너 위에서 간격 */
}

.editButton {
  background-color: var(--primary-color);
  right: 70px; /* 오른쪽 끝에서 간격 설정 */
}

.editButton:hover {
  transform: scale(1.05); /* 크기 확대 */
}

.deleteButton {
  background-color: red; /* 기본 상태 빨간색 */
  right: 20px; /* 오른쪽 끝에서 간격 설정 */
}

.deleteButton:hover {
  transform: scale(1.05); /* 크기 확대 */
}

.workoutContent {
  font-weight: bold;
  font-size: 20px;
}
